{% extends "base.html" %}

  {% block content %}
    
<div class="container">
<div class="jumbotron">
  <h2>Patrol your wiki!</h2>
  <p>This is a tool for keeping track of new pages in MediaWiki wikis. It visits all of the recent additions to a wiki, ignoring redirects and subpages, and scores them on things like how many categories they have, how many figures and references, and how long they are. The maximum score is 20.</p>
  <p>Once you have some results, you decide what to do with the worst pages: visit them, edit them (if you're logged in to the wiki), or tag them with a 'quality' tag. </p>
  <p>If you have ideas for new features, please send them along to <a href="mailto:matt@agilegeoscience.com?subject=Patrol%20app">matt@agilegeoscience.com</a></p>
  <p>&nbsp;</p>
  <form action="result" method="POST" id="form-inline" class="form-horizontal" role="form">
	<button type="submit" id="getpages" class="btn btn-primary" data-loading-text="Finding pages..." autocomplete="off">
	  Try it right now
	</button>
  </form>
 
</div>
</div> <!-- end container -->
    
    <script>
    
      $("#getpages").on('click', function(){
        var btn = $(this);
        btn.button('loading');                          
      });

      $(window).on('unload', function(){
        ("#getpages").button('reset');
      });
      
    </script>

        
  {% endblock %}
  
 